.card-container {
    border: none;
/* margin-top:3px */
}

.card-container:hover{
    /* box-shadow: 5px; */
    cursor:pointer;
    border-radius:5px;
    /* border: 1px solid #ccc; */
    /* padding: 1px; */
    box-shadow: 0px 2px 7px 0px;
    /* margin: 2px; */
}